@charset "UTF-8";

@font-face {
    font-family: 'idroid';
    src: url(pacote-projeto-/fontes/idroid.otf) format('opentype');
    font-family: 'bebas';
    src: url(pacote-projeto-/fontes/BebasNeue-Regular.ttf) format('truetype');
    font-weight: normal;
}
:root {
    --cor0:#c5ebd6;
    --cor1:#195A36;
    --cor2:#3CDC84;
    --cor3:#37a769b4;
    --cor4:white;
    --cor5:#2FA866;
    --cor6:#84E1AD;
    --fonte-padrão: Arial, Verdana, Helvetica, sans-serif;
    --fonte-destaque: 'bebas', cursive;
    --fonte-android: 'idroid', cursive;
  

}
* {
    margin: 0px;
    padding: 0px;
}


body {
    background-color: var(--cor0);
    font-family: var(--fonte-padrão);
}

header {
   
    color: var(--cor4);
    height: 25%;
    margin: 0px;
    background-image: linear-gradient( to bottom,var(--cor3), var(--cor1));
    font-family: var(--fonte-destaque);
    font-weight: lighter;
    font-size: small;
    padding-top: 30px;
    
    
}
header > h1 {
    text-align: center;
    margin-bottom: 10px;
    font-size: 3em;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.397);
}

header > p { 
    font-size: 1.2em;
    text-align: center;
    margin-bottom: 20px;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.267);
}
nav {
    box-shadow: 0px 7px 7px rgba(0, 0, 0, 0.281) ;
}

nav > a {
 font-family: var(--fonte-padrão);
 color: var(--cor4); 
 margin: 10px; 
 text-decoration: none;
 font-weight:bold;
 border-radius: 2px; 
 transition-duration: 0.7s;
 
}

nav > a:hover {
    background-color:var(--cor6);
    color:var(--cor1);
    

}

main {
  
   min-width: 280px ;
   max-width: 800px;
   margin: auto;
}


 img {
    width: 100%;
}

 #pequena {
    max-width: 350px;
    display: block;
    margin:auto;

}


section {
    font-family: var(--fonte-padrão);
    background-color: var(--cor4);
    margin: 0px 100px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.425);
    border-bottom-left-radius: 10px ;
    border-bottom-right-radius: 10px;
    padding: 10px 20px;
}
h1 {
    font-weight: normal;
}
section > h1 {
    color: var(--cor1);
    font-family: var(--fonte-android);
   
    text-align: left;
}

section > h2 {
    background-image: linear-gradient(to right, var(--cor6) , transparent );    
    color: var(--cor1);
    font-family: var(--fonte-android);
    font-size: 1.2em;
    font-weight: normal;
    text-align: left; 
    text-indent: 8px;
}

section > p {
    text-align: justify;
    text-indent: 30px;
    line-height: 2em;
    font-size: 1em;
    margin: 15px 0px;
}

main strong {
    color: var(--cor1);
    font-weight: bold;
    padding: 2px 6px;
}

p > a {
    font-weight: bold;
    color: var(--cor1);
    background-color: #3CDC84;
    text-decoration: none;
    padding: 2px 6px;    
}

p > a:hover {
    text-decoration: underline;
    transition-duration: 2s;
    background-color: var(--cor0);
    color: var(--cor1);
    
}

a.externo::after {
    content: '\00A0\1F517';

}
section > img {
    border-image-width: auto;
}
div.video {
    background-color: #195A36;
    margin: 0px -20px 30px -20px;
    padding: 20px;
    padding-bottom: 57.7%;
    position: relative;

}

div.video > iframe {
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;

}

aside {
    background-color:var(--cor0);
    border-radius:10px 10px;
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.425);
}

aside > p {
    text-align: justify;
    text-indent: 30px;
    line-height: 2em;
    font-size: 1em;
    margin: 15px 0px;
}

aside a {
    color: black;

}

aside > ul {
    columns: 2;
    text-indent: 8px;
    font-size: 0.8em;
}

aside strong {
    color: black;
}

h3 {
    background-color:var(--cor1);
    border-radius: 10px 10px 0px 0px;
    color:white;  
    padding: 10px;
    text-align: left;
    text-indent: 10px ;
}

footer {
    font-family: var(--fonte-padrão);
    background-color: var(--cor1);
    color: var(--cor0);
    text-align: center;
    font-size: 0.8em;
    padding:2px 0px;
 }
